.new-quizz {
    margin: 140px auto 0 auto;
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 23px;
    font-weight: 700;
}
.new-quizz.first-page {
    height: 489px;
}
.new-quizz div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #FFFFFF;
    padding: 20px;
}
.new-quizz.first-page div {
    height: 260px;
}
.new-quizz.second-page div {
    height: 825px;
    margin: 40px auto 24px auto;
}
.new-quiz.second-page:last-child{
    margin-bottom: 75px;
}
.new-quiz.third-page div{
    height: 320px;
    margin: 36px auto 24px auto;
}
.new-quizz.second-page:last-child {
    margin-bottom: 81px;
}
.new-quizz div input {
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    font-size: 19px;
    font-style: italic;
}
.new-quizz button {
    width: 367.72px;
    height: 54px;
    font-size: 21px;
    color:#FFF5F4;
    background-color: red;
    border-radius: 20px;
}