<<<<<<< HEAD
.quizz-banner {
    width: 100%;
    
=======
.quizz-title{
>>>>>>> 3833e19 (minor functions/elements names adjustments)
    position: absolute;
    top: 70px;
    margin-bottom: 42px;
}
<<<<<<< HEAD
.quizz-banner img {
=======
.quizz-title img{
>>>>>>> 3833e19 (minor functions/elements names adjustments)
    width: 100%;
    height: 200px;
    object-fit: cover;
}
<<<<<<< HEAD
.quizz-banner p {
=======
.quizz-title p{
>>>>>>> 3833e19 (minor functions/elements names adjustments)
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    color: #FFFFFF;
    font-size: 39px;
    text-align: center;
}

<<<<<<< HEAD
ul.question-cards-list {
    margin: 140px;
=======
.quizz:first-child{
    margin-top: 140px;
>>>>>>> 3833e19 (minor functions/elements names adjustments)
}

li.card-slot {
    padding: 30px;
    width: 760px;
    height: 676px;
    margin: 0 auto 42px auto;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.05);
}

ul.question {
    width: 688px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
li.question-title {
    width: 100%;
    height: 138px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    text-align: center;
=======
}
.quizz-title p{
    font-weight: 400;
    color:#FFFFFF;
    font-size: 39px;
}
.question_title {
>>>>>>> 3833e19 (minor functions/elements names adjustments)
    font-weight: 700;
    color:#FFFFFF;
    font-size: 23px;
}

li.answer {
    width: 330px;
    height: 175px;
    margin: 15px auto auto auto;
    font-weight: 700;
    font-size: 20px;
}
li.answer img {
    width: 100%;
    margin-bottom: 10px;
    height: 175px;
}

<<<<<<< HEAD
.quizz-result {
=======

.quizz-result{
>>>>>>> 3833e19 (minor functions/elements names adjustments)
    width: 750px;
    height: 430px;
    margin: 45px auto 0 auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
<<<<<<< HEAD
.quizz-result-text {
=======
.quizz-result-text{
>>>>>>> 3833e19 (minor functions/elements names adjustments)
    display: flex;
    justify-content: space-around;
    font-size: 19px;
    font-weight: 700;
    color:#484848;
}
<<<<<<< HEAD
.quizz-result-text img{ 
    width: 360px;
    height: 270px;
}
.quizz-result-text p {
    margin-left: 20px;
}
.quizz-result-title {
=======
.quizz-result-text img{
    width: 360px;
    height: 270px;
}
.quizz-result-text p{
    margin-left: 20px;
}
.quizz-result-title{
>>>>>>> 3833e19 (minor functions/elements names adjustments)
    width: 720px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;
}

.final-page-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
    margin: 50px auto 0 auto;
}
.final-page-options button {
    width: 100%;
    height: 52px;
    border-radius:17px;
    background-color: #EC362D;
    font-size: 21px;
    color: #FFF5F4;
}
.final-page-options p {
    margin-top: 18px;
    font-size: 21px;
    color: #818181;
    text-decoration: underline;
}