@media (max-width:420px) {
    main {
        width: 380px;
    }
    .all-quizzes ul {
        flex-direction: column;
    }
    .all-quizzes li {
        margin: 7px auto 7px auto;
    }
    .all-quizzes h1{
        margin-left: 20px;
    }
    .quiz ul{
        width: 380px;
        height: 440px;
    }
    .questionTitle{
        width: 340px;
        height: 90px;
    }
    .questionAnswer img{
        width: 150px;
        height: 115px;
    }
    .quizTitle p{
        font-size: 19px;
    }
    .questionTitle p{
        font-size: 19px;
    }
    .questionAnswer p{
        font-size: 13px;
    }
    .quiz-result{
        width: 360px;
        height: 480px;
    }
    .quiz-result-text{
        flex-direction: column;
    }
    .quiz-result-text img{
        margin: 10px 0 10px 0;
    }
    .quiz-result-text p{
        margin-left: 0px;
    }
    .quiz-result-title{
        width: 360px;
    }
    .quiz-result-title h1{
        width: 310px;
        font-size: 19px;
    }
    .final-page-options button{
        width: 220px;
        height: 44px;
        font-size: 18px;
    }
    .final-page-options p{
        font-size: 18px;
        text-decoration: none;
    }
    
}