* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

/*-------------------------------------------------------*/

header {
    width: 100%;
    height: 69px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #EC362D;
    display: flex;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1 {
    margin: auto;
    font-style: normal;
    font-size: 37px;
    font-weight: 700;
    color: #FFFFFF;
}

/*-------------------------------------------------------*/

main {
    width: 1051px;
    margin: 146px 195px auto 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-quizz {
    width: 100%;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-quizz h1 {
    width: 250px;
    height: 107px;
    margin: 35px auto 0 auto;
    color: #B9B9B9;
    font-size: 20px;  
    text-align: center;  
}
.create-quizz button {
    width: 151px;
    height: 40px;
    margin: 0 auto 33px auto;
    background-color: #FAFAFA;
    font-size: 20px;
    font-weight: 400;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}

.all-quizzes {
    width: 100%;
    margin: 77px auto 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px dotted blue;
}
.all-quizzes h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;

}
.all-quizzes ul {
    margin: 0 0 auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px dotted green;
    justify-content: space-between;
    
}
.all-quizzes li {
    width: 340px;
    height: 181px;
    margin-bottom: 12px;
    border-radius: 5px;
    display: flex;
    position: relative;
    
}
.all-quizzes div {
    width: 100%;
    height: 100%;
    line-height: 22px;
    margin: auto auto 7px auto;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}
.all-quizzes div h2{
    width: 90%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.all-quizzes img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/*-------------------------------------------------------*/

.hidden{
    display: none;
}

/*-------------------------------------------------------*/

.quizTitle{
    position: relative;
    margin-top: 69px;
}
.quizTitle img{
    width: 100%;
}
.quizTitle p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}

/*-------------------------------------------------------*/

ul{
    width: 750px;
    height: 670px;
    margin: 42px auto 0 auto;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.questionTitle{
    width: 690px;
    height: 138px;
    background-color: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quizTitle p{
    font-weight: 400;
    color:#FFFFFF;
    font-size: 39px;
}
.questionTitle p{
    font-weight: 700;
    color:#FFFFFF;
    font-size: 23px;
}
.questionAnswer p{
    font-weight: 700;
    font-size: 20px;
}